@font-face {
    font-family: 'facit';
    src: url('/font/Facit-Extrabold.otf');
}



body{
  background-image: linear-gradient(#ED5E50, #F48658, #DB4A48);
}


h1 {
  color: red;
}

.header-image {
  position: absolute;
  width:  100vw;
  /* z-index: 2; */
  top: 0;
}

.top-page{
  padding-top: 20px;
  position: relative;
  z-index: 1;
}

iframe {
  position: relative;
  z-index: 1;
  height: 500px;
}

h2 {
  padding-top: 200px;
  color:white;
  font-family: 'FacitExtrabold1', Arial, sans-serif;
  font-size: 40px;
}

p{
  color:white;
  font-family: 'Inter', sans-serif;
}
